@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 100wh;
  height: 100vh;
  background-color: rgb(228, 227, 227);
  font-family: 'Ubuntu', sans-serif;
}
.container{
  margin: 1.5rem 2rem;
}

.navbar{
  width: 100%;
  background-color: white;
  border: 1px solid black;
  padding: .5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: .4rem;
}

.navbar > div{
  background-color: orange;
  border: 1px solid black;
  border-radius: .4rem;
  padding: .2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
  color: black;
}

.cta{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.cta-text h1{
  margin-top:8rem;
  margin-left: 4rem;
  font-size:4rem;
}
.cta-text p{
  font-size:1.5rem;
  margin-left:4rem;
  font-weight: 500;
  margin-top: 2rem;
}
.cta-btn{
  background-color: orange;
  padding: .7rem ;
  border: 1.5px solid black;
  border-radius: 10px;
  margin-left: 4rem;
  margin-top:2rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

@media(max-width:726px){
  .cta{
    width: 100%;
  }
  .cta-text h1{
    text-align: center;
    width:100%;
    margin-left: .1rem;
  }
  .cta-text p{
    width:100%;
    margin-left: .1rem;
  }
  .cta-btn{
    margin-left: .1rem;
    width: 20%;
    text-align: center;
    font-weight:200;
  }
}
@media(max-width:426px) {
  .cta{
    display: flex;
    flex-direction: column; 
    gap: 2rem;
  }

  .cta-text h1{
    text-align: center;
    width:100%;
    font-size:3rem;
    margin-left: .1rem;
    /* margin-top: 5rem */
  }

  .cta p{
    text-align: center;
  }
  .cta-btn{
    text-align: center;
    width: 6rem;
    margin: auto;
    /* padding: .1rem 1.5rem; */
    font-size: 1rem;
  }
}

@media(max-width:376px) {
  .cta{
    gap: 2.5rem;
  }

  .cta-text h1{
    font-size: 3.5rem;
}
}